body {
    background-color: tan;
}

#form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#button-wrapper {
    display: flex;
    justify-content: center;

}
@media screen and (min-width:600px){
    #form-wrapper{
        display: flex;
        justify-content: space-between;
    }
    #list-wrapper {
        display: flex;
        justify-content:space-evenly;
    }
    
}